html {
    scroll-behavior: smooth;
}

/* HEADER */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .3s;
    z-index: 99;
}

.cabecalho.transparente {
    background-color: transparent;
}

.cabecalho a,
#paragrafo-ao-logar {
    text-decoration: none;
    font-size: 1.4em;
    color: #77A649;
    font-weight: bold;
    transition: .5s;
    border-bottom: .1em solid transparent;
    transition: .3s;
    display: inline-block;
}

#link-login {
    background-color: #294e04;
    padding: .3em 1em;
    border-radius: .5em;
    color: white;
}

#paragrafo-ao-logar {
    background-color: #294e04;
    color: white;
    padding: .3em 1em;
    border-radius: .5em;
}

#nome_usuario {
    color: #a66026;
}


.cabecalho a:hover {
    transform: scale(1.05);
    opacity: .8;
}

.cabecalho .left p {
    font-size: 2em;
    color: #77A649;
    font-weight: bold;
}

.cabecalho .center {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.cabecalho .left {
    margin-left: 1.5em;
}

.cabecalho .right {
    margin-right: 1.5em;
    display: flex;
    justify-content: center;
}

/* FOOTER */

/* RODAPE */

.rodape {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: white;
}

.rodape p {
    font-size: 1.2em;
}

.rodape span a {
    color: #a66026;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

.rodape span a:hover {
    transform: scale(.95);
    opacity: .5;
}